@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 2rem;
}

.zero .zeros {
    font-size: 30px;
    margin: 10px;
    color: white;
    padding: 15px 32px;
    border-radius: 5px;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}