    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
    * {
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
    }
    
    h2 {
        color: #009879;
        margin: 25px auto;
        text-align: center;
        font-size: 2rem;
    }
    
    button {
        background-color: #009879;
        border: none;
        color: white;
        padding: 10px 28px;
        text-decoration: none;
        border-radius: 5px;
        font-size: 15px;
    }
    
    button:hover {
        background-color: red;
    }
    /* Movies Css */
    
    .content-table {
        border-collapse: collapse;
        margin: 25px auto;
        font-size: 0.9em;
        width: 500px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        font-weight: bold;
    }
    
    .content-table thead tr {
        text-align: left;
        border-bottom: 2px solid #009879;
    }
    
    .content-table th,
    .content-table td {
        padding: 12px 15px;
    }
    
    .content-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }
    
    .content-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }
    
    .content-table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }